<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Product: </h4>    
                <div class="table-responsive m-t-40">
                    {{#if todo}}
                    <table id="myTable" class="table table-bordered table-striped" {{#each todo}}>
                        <thead>
                            <tr>
                                <th>title</th>
                                <th>price</th>
                                <th>picture</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{title }}</td>
                                <td>{{ price }}</td>
                                <td> <img src="/uploads/{{image.filename}}.jpg"></td>
                                <td></td>
                            </tr>
                        </tbody{{/each}} >
                    </table>
                    {{else}}
                    <p class="empty">There is no products here!</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>