<head>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Cliente Websockets</h1>
    <input type="text">
    <button>Enviar</button>
    <p></p>
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" id="msj">Messages: </h4>    
            </div>
        </div>
    </div>
</div>
</body>
<script>
const socket = io();
const input = document.querySelector('input')
document.querySelector('button').addEventListener('click', () => {
    socket.emit('mensaje', input.value);
})

socket.on('mensajes', msjs => {
    const mensajesHTML = msjs
        .map(msj => `SocketId: ${msj.socketid} -> Mensaje: ${msj.mensaje}`)
        .join('<br>')
    document.querySelector('p').innerHTML = mensajesHTML
});



</script>
</html>